@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
    // font-family: "Playfair Display", serif;
    font-size: 16px;
}

.input-ant {
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: var(--backgroundColor);
}

.page-container {
    min-height: calc(100vh - 90px);
}

//Màu gốc: #f84c2f

//Màu hover: #fb6445

//Màu đậm: #d0011b